<div class="board">
    <div class="row" *ngIf="showLoading">
        <div class="progressBar"></div>
    </div>
    <table class="table" *ngIf="!showLoading">
        <thead>
            <tr>
                <td class="empty"></td>
                <td *ngFor="let section of sections" class="milestone">
                    <div>{{section.name}}</div>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let project of projects">
                <td class="project-name"><span>{{project.name}}</span></td>
                <td *ngFor="let section of sections">
                    <div class="panel panel-default clearfix"
                         [dragula]='"tasks-board"' [dragulaModel]='tasks'>
                        <div class="task-item" *ngFor="let task of project.relationSectionTask[section.code]">
                            <div class="task-head">
                                <div class="userpic">
                                    <img *ngIf="task.assignee && task.assignee.photo" src="{{task.assignee.photo.image_60x60}}"/>
                                </div>
                                <div class="tag-place">
                                    <span *ngFor="let tag of task.tags" class="tag {{tag.color}}" title="{{tag.name}}"></span>
                                </div>
                            </div>
                            <div class="task-body">
                                <div class="task-title">
                                    {{task.name}}
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
