// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$font-stack: 'Open Sans', sans-serif;
$background-color: #eee;
$primary-color: #333;
$blue-color: #4478f8;
$green-color: #96c84b;

$small-border-radius: 3px;

$padding-big: 40px;

body {
  font-family: $font-stack;
  color: $primary-color;
}

.agsana {
  background-color: $background-color;

  img.logo {
    height: 36px;
    margin: 5px;
    padding-left: 15px;
  }

  .avatar {
    overflow: hidden;
    border-radius: 100%;
    width: 128px;
    height: 128px;
    background-color: pink;
  }

  .progressBar {
    box-shadow: 0 1px 2px rgba(0, 0, 0, .125);
    padding: 30px;
    background-color: white;
    margin: 0 auto 20px;
    width: 640px;
    height: 260px;
    border-radius: $small-border-radius;
    background: url('../images/loading.gif') white no-repeat 50% 50%;
  }

  .hello-text {
    font-family: $font-stack;
    color: $primary-color;
    font-size: 28px;
    margin-bottom: 16px;
    span {
      color: black;
    }
  }

  .projectFilter {
    padding-bottom: 16px;
  }

  .navbar {
    background-color: white;

    a {
      padding: 0;
    }

    .user-settings {

      padding: 5px;
      margin-right: 16px;
      font-size: 16px;
      font-family: $font-stack;

      .avatar {
        overflow: hidden;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        background-color: pink;
      }
    }

    .navbar-right {
      margin-right: 0;
    }

  }

  .btn-default {
    font-family: $font-stack;
    border-color: $blue-color;
    color: $blue-color;
    background-color: white;
    border-radius: $small-border-radius;
    padding: 16px;
    font-size: 14px;
    &:hover {
      color: white;
      background-color: $blue-color;
    }
  }

  .btn-success {
    font-family: $font-stack;
    border-color: $green-color;
    color: white;
    background-color: $green-color;
    border-radius: $small-border-radius;
    padding: 16px;
    font-size: 14px;
    &:hover {
      color: $green-color;
      background-color: white;
      border-color: $green-color;
    }
  }

  .goto-board {
    width: 200px;
    margin: 0 auto;
    display: block;
  }

  .workspace-selection-panel {
    box-shadow: 0 1px 2px rgba(0, 0, 0, .125);
    padding: 30px;
    background-color: white;
    margin: 0 auto 20px;
    width: 640px;
    .h2 {
      font-size: 22px;
      margin: 0 auto 30px;
      font-family: $font-stack;
      color: $primary-color;
      transition: all 0.1s ease-in-out;
    }
    .btn-default {
      width: 200px;
      margin: 0 auto;
      + .btn-block {
        margin-top: 16px;
      }
    }
    .list-group-projects {
      padding-left: 0;
      margin-bottom: 20px;
      max-height: 640px;
      overflow: auto;
      .list-group-item {
        border-radius: 2px;
        display: block;
        border: 0 none;
        width: calc(50%);
        padding: 5px 10px;
        float: left;
        &:hover {
          background-color: $background-color;
          cursor: pointer;
        }
        &.active {
          &:hover {
            background-color: darken(#337AB7, 10%);
          }
        }
      }
    }
  }
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: .8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  transform: rotate(5deg);
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: .2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

/* board */

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
  padding: 10px 0 0;
  max-width: 390px;
  border-top: none;
}

.board {
  font-family: $font-stack;
  padding: 5px;
  .table {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      border-right: dashed 1px #bcbcbc;
      top: 0;
      left: 13px;
      height: 100%;
    }
  }
  tr {
    &:nth-child(even) {
      background: darken($background-color,5%);
    }
    &:last-child {
      td {
        border-bottom: none;
      }
    }
  }
  td {
    border: dashed 1px #bcbcbc;
    border-top: none;
    padding: 0;
    &.empty {
      border: none;
    }
    &:nth-child(2) {
      border-left: none;
    }
    &.milestone {
      border-bottom: none;
      padding: 10px;
      &:first-child {
        border-left: none;
      }
      div {
        background: #fff;
        border-bottom: solid 2px;
        border-radius: 2px;
        font-size: 14px;
        padding: 10px;
        text-transform: uppercase;
        white-space: nowrap;
      }
    }
    &.project-name {
      border-left: none;
      border-right: none;
      padding-left: 2px;
      white-space: nowrap;
      width: 30px;
      span {
        background-color: #666;
        border-radius: 2px;
        color: #fff;
        display: inline-block;
        margin-bottom: 5px;
        padding: 5px 2px;
        transform: rotate(180deg);
        writing-mode: vertical-rl;
      }
    }
    &:last-child {
      border-right: none;
    }
    .panel {
      background: none;
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 5px;
      border: none;
      border-radius: 0;
      box-shadow: none;
      justify-content: flex-start;
      &.panel-default {
        min-height: 30px;
      }
      .task-item {
        background: #fff;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
        float: left;
        margin: 0 5px 14px;
        max-width: 140px;
        width: calc(100% - 10px);
        .task-head {
          height: 24px;
          &:hover {
            cursor: move;
          }
          .userpic {
            background: #fff url('../images/uu.png') center no-repeat;
            border-radius: 50%;
            border: solid 3px #fff;
            height: 28px;
            float: left;
            margin-top: -4px;
            margin-left: 3px;
            overflow: hidden;
            width: 28px;
            img {
              vert-align: top;
              width: 100%;
            }
          }
          .tag-place {
            margin-left: auto;
            width: calc(100% - 36px);
            span {
              background-color: #fff;
              border-bottom-left-radius: 2px;
              border-bottom-right-radius: 2px;
              display: inline-block;
              height: 11px;
              margin-right: 3px;
              vertical-align: top;
              width: 5px;
              &.dark-pink {
                background-color: #EA4E9D;
              }
              &.dark-green {
                background-color: #62D26F;
              }
              &.dark-blue {
                background-color: #4186E0;
              }
              &.dark-red {
                background-color: #E8384F;
              }
              &.dark-teal {
                background-color: #20AAEA;
              }
              &.dark-brown {
                background-color: #EEC300;
              }
              &.dark-orange {
                background-color: #FD612C;
              }
              &.dark-purple {
                background-color: #7A6FF0;
              }
              &.dark-warm-gray {
                background-color: #8DA3A6;
              }
              &.light-pink {
                background-color: #E362E3;
              }
              &.light-green {
                background-color: #A4CF30;
              }
              &.light-blue {
                background-color: #4186E0;
              }
              &.light-red {
                background-color: #FC91AD;
              }
              &.light-teal {
                background-color: #37C5AB;
              }
              &.light-yellow {
                background-color: #EEC300;
              }
              &.light-orange {
                background-color: #FD9A00;
              }
              &.light-purple {
                background-color: #AA62E3;
              }
              &.light-warm-gray {
                background-color: #8DA3A6;
              }
            }
          }
        }
        .task-body {
          font-size: 12px;
          line-height: 13px;
          padding-bottom: 8px;
          .task-title {
            max-height: 41px;
            overflow: hidden;
            padding: 1px 6px 0;
          }
        }
      }
    }
  }
}
