<div class="container">
    <div class="row" *ngIf="showLoading">
        <div class="progressBar"></div>
    </div>
    <div class="row" *ngIf="!showLoading">
        <img class="avatar center-block" src="{{user.photo.image_128x128}}">
        <div class="center-block text-center hello-text">Привет, <span>{{user.name}}</span>!</div>
    </div>
    <div class="row" *ngIf="!showLoading">
        <div class="workspace-selection-panel">
            <div class="h2 text-center">Выберите группу:</div>
            <a *ngFor="let workspace of workspaces" class="btn btn-default btn-lg btn-block"
               (click)="onSelect(workspace)">{{workspace.name}}</a>
        </div>
    </div>
</div>
