<div class="container">
    <div class="row">
        <div class="progressBar" *ngIf="showLoading"></div>
        <div class="workspace-selection-panel" *ngIf="!showLoading">
            <div class="alert alert-danger" *ngIf="showEmptySelectionWarning">
                К сожалению, ничего не найдено...
            </div>
            <div class="h2 text-center">Мы нашли {{projects.length}} проектов, в которых вы участвуете. <br/> Выберите
                необходимые для отображения
            </div>
            <div class="projectFilter">
                <input class="form-control" id="projectFilter" (keyup)="projectFilterOnKeyUp($event)" placeholder="Название проекта">
            </div>
            <div class="list-group-projects clearfix">
                <a *ngFor="let project of filteredProjects" class="list-group-item"
                   [ngClass]="{'active': isSelected(project)}" (click)="mergeWithList(project)">
                    <input type="checkbox" [checked]="isSelected(project)"/>&nbsp;
                    {{project.name}}
                </a>
            </div>
            <p class="panel-body">
                <a class="btn btn-success goto-board" (click)="goToBoard()">Погнали!</a>
            </p>
        </div>
    </div>
</div>
